{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4">
        
        <div class="col-sm-12 col-xl-12">
            <div class="bg-secondary rounded h-100 p-4">
                <form method="post">
                    {% csrf_token %}
                    <h4 class="mb-4">Create Customer</h4>
                    <div class="row">
                        <div class="form-floating mb-3 col-md-4">
                            <input type="number" value="{{customer_code}}" class="form-control" placeholder="Customer code" readonly>
                            <label for="floatingInput">Customer Code</label>
                        </div>

                        <div class="form-floating mb-3 col-md-4">
                            {{custForm.customer_name}}
                            <label for="floatingInput">Customer Name</label>
                        </div>
                        <div class="form-floating mb-3 col-md-4">
                            {{custForm.customer_trn}}
                            <label for="floatingInput">TRN</label>
                        </div>
                        <div class="form-floating mb-3 col-md-4">
                            {{custForm.customer_address1}}
                            <label for="floatingInput">Address1</label>
                        </div>
                        <div class="form-floating mb-3 col-md-4">
                            {{custForm.customer_address2}}
                            <label for="floatingInput">Address2</label>
                        </div>
                        <div class="form-floating mb-3 col-md-4">
                            {{custForm.customer_address3}}
                            <label for="floatingInput">Address3</label>
                        </div>
                        <div class="form-floating mb-3 col-md-4">
                            {{custForm.customer_phone1}}
                            <label for="floatingInput">Phone1</label>
                        </div>
                        <div class="form-floating mb-3 col-md-4">
                            {{custForm.customer_phone2}}
                            <label for="floatingInput">Phone2</label>
                        </div>
                        <div class="form-floating mb-3 col-md-4">
                            {{custForm.customer_email}}
                            <label for="floatingInput">Email</label>
                        </div>
                        <div class="form-floating mb-3 col-md-4">
                            <input type="number" value="{{customer_slno}}" class="form-control" readonly>
                            <label for="floatingInput">Customer Ledger No</label>
                        </div>
                        <div class="form-floating mb-3 col-md-4">
                            {{custForm.customer_ob_amount}}
                            <label for="floatingInput">Opening Balance</label>
                        </div>
                        <div class="form-floating mb-3 col-md-4">
                            {{custForm.customer_ob_date}}
                            <label for="floatingInput">Opening Date</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <button type="submit" class="btn btn-primary">Create</button>
                        </div>
                        <div class="mb-3 col-md-4">
                            <a href="{% url 'masters:customerlist' %}" class="btn btn-primary">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}